name: Format Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Rust
      uses: ./.github/actions/setup
      with:
        install-deps: 'false'
        setup-cache: 'false'
    
    - name: Check formatting
      run: cargo fmt --all -- --check