name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Rust
      uses: ./.github/actions/setup
      with:
        install-deps: 'true'
        setup-cache: 'true'
    
    - name: Build
      run: cargo build
      
    - name: Run tests
      run: cargo test --lib --bins --tests --benches
      
    - name: Clippy
      run: cargo clippy -- -W clippy::all